* {
    transition: opacity 1s;
}

.tab-content{
    display:none;
}

.tab-content.active{
    display:block;
}

.tabs .active a , .tabs .active{
    background-color: darkorange;
}

ul li{
    display: inline;
    border: darkred solid 1px;
    background-color: orangered;
}

ul li a{
    color: white;
    text-decoration: none;
}